body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}
ul {
  padding-left: 1em;
  font-family: sans-serif;
  line-height: 1.5;
}
li {
  margin-bottom: 0.5em;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
